In [29]:
import numpy as np
import pandas as pd

In [30]:
FOLDER_PATH = "data/news"
PREPARED_PATH = "data/news/news-prepared.csv"

## Merge all the economic historical data

In [31]:
def merge_economic_data(start_year, end_year, folder):
    dataframes = []
    for year in range(start_year, end_year + 1):
        filename = f"{folder}/{year}.csv"
        df = pd.read_csv(filename)
        dataframes.append(df)
    merged_df = pd.concat(dataframes, ignore_index=True)
    merged_df = merged_df.drop_duplicates(subset='Id')
    return merged_df

data = merge_economic_data(2016, 2022, FOLDER_PATH)
data

,Id,Start,Name,Impact,Currency
0,289f7bf0-e07a-4ae5-be3e-c3099d7d57b0,01/01/2016 00:00:00,New Year's Day,NONE,USD
1,daeff945-2698-4642-82f8-526cd0b207e1,01/01/2016 00:00:00,New Year's Day,NONE,NZD
2,2993d360-8098-4546-b4ae-9b00ece19b18,01/01/2016 00:00:00,New Year's Day,NONE,JPY
3,9d4798a3-6d3c-4d31-97e6-9d36f687d3dd,01/01/2016 00:00:00,New Year's Day,NONE,EUR
4,bef65bb6-a0e2-4a9e-acd1-4df4a059886e,01/01/2016 00:00:00,New Year's Day,NONE,EUR
...,...,...,...,...,...
58467,400e0725-0d51-4d21-9b96-704dea571ece,12/31/2022 23:00:00,New Year's Day,NONE,EUR
58468,4d3300ad-c168-4a5f-a4ac-a60a338e63c4,01/01/2023 05:00:00,New Year's Day,NONE,USD
58469,f23eb4cc-8fbb-45de-a9aa-d9709cb4e666,01/01/2023 05:00:00,New Year's Day,NONE,CAD
58470,d4c0451d-05bc-4ad8-a63c-3ce873acee62,01/01/2023 12:00:00,Day after New Year's Day,NONE,NZD
58471,12ddc830-9d0e-4e16-a8bf-036721b565db,01/01/2023 23:00:00,New Year's Day (Observed),NONE,EUR

## Missing values

In [32]:
def check_missing_values(df):
    return df.isnull().sum()

check_missing_values(data)

Id          0
Start       0
Name        0
Impact      0
Currency    0
dtype: int64

## Export the prepared dataset

In [33]:
data.to_csv(PREPARED_PATH, index=False)