In [95]:
import numpy as np
import pandas as pd

## Select the data to be prepared

In [96]:
ASSET = "AUDUSD"
#ASSET = "EURUSD"
#ASSET = "GBPUSD"
#ASSET = "NZDUSD"
#ASSET = "USDCAD"
#ASSET = "USDCHF"
#ASSET = "USDJPY"

DATA_PATH = f"data/price/{ASSET}.csv"
PREPARED_PATH = f"data/price/{ASSET}-prepared.csv"

## Load the data

In [97]:
data = pd.read_csv(DATA_PATH)
data

,Gmt time,Open,High,Low,Close,Volume
0,03.01.2016 22:00:00.000,120.188,120.319,120.183,120.283,1.766420e+06
1,03.01.2016 23:00:00.000,120.286,120.385,120.232,120.316,2.787850e+06
2,04.01.2016 00:00:00.000,120.315,120.390,120.269,120.371,4.205490e+06
3,04.01.2016 01:00:00.000,120.370,120.464,120.009,120.028,6.674790e+06
4,04.01.2016 02:00:00.000,120.027,120.043,119.646,119.817,8.200750e+06
...,...,...,...,...,...,...
43643,30.12.2022 19:00:00.000,130.868,131.020,130.848,130.971,2.569386e+07
43644,30.12.2022 20:00:00.000,130.969,131.291,130.969,131.269,9.933500e+06
43645,30.12.2022 21:00:00.000,131.269,131.269,131.046,131.072,7.899270e+06
43646,01.01.2023 22:00:00.000,130.925,130.962,130.743,130.759,1.011000e+05
43647,01.01.2023 23:00:00.000,130.771,130.886,130.716,130.870,3.198000e+05

## Identify Missing Values

In [98]:
def identify_missing_values(df):
    return df.isnull().sum()

identify_missing_values(data)

Gmt time    0
Open        0
High        0
Low         0
Close       0
Volume      0
dtype: int64

## Identify Outliers - does not make sense in this context

## Derived Measures

In [99]:
def calculate_log_returns(df):
    df['Log_Return'] = np.log(df['Close'] / df['Close'].shift(1))
    return df

calculate_log_returns(data)
data

,Gmt time,Open,High,Low,Close,Volume,Log_Return
0,03.01.2016 22:00:00.000,120.188,120.319,120.183,120.283,1.766420e+06,NaN
1,03.01.2016 23:00:00.000,120.286,120.385,120.232,120.316,2.787850e+06,0.000274
2,04.01.2016 00:00:00.000,120.315,120.390,120.269,120.371,4.205490e+06,0.000457
3,04.01.2016 01:00:00.000,120.370,120.464,120.009,120.028,6.674790e+06,-0.002854
4,04.01.2016 02:00:00.000,120.027,120.043,119.646,119.817,8.200750e+06,-0.001759
...,...,...,...,...,...,...,...
43643,30.12.2022 19:00:00.000,130.868,131.020,130.848,130.971,2.569386e+07,0.000787
43644,30.12.2022 20:00:00.000,130.969,131.291,130.969,131.269,9.933500e+06,0.002273
43645,30.12.2022 21:00:00.000,131.269,131.269,131.046,131.072,7.899270e+06,-0.001502
43646,01.01.2023 22:00:00.000,130.925,130.962,130.743,130.759,1.011000e+05,-0.002391
43647,01.01.2023 23:00:00.000,130.771,130.886,130.716,130.870,3.198000e+05,0.000849

In [100]:
def calculate_sma(df, period):
    column_name = f"SMA_{period}"
    df[column_name] = df['Close'].rolling(window=period).mean()
    return df

calculate_sma(data, period=20)
calculate_sma(data, period=50)
data

,Gmt time,Open,High,Low,Close,Volume,Log_Return,SMA_20,SMA_50
0,03.01.2016 22:00:00.000,120.188,120.319,120.183,120.283,1.766420e+06,NaN,NaN,NaN
1,03.01.2016 23:00:00.000,120.286,120.385,120.232,120.316,2.787850e+06,0.000274,NaN,NaN
2,04.01.2016 00:00:00.000,120.315,120.390,120.269,120.371,4.205490e+06,0.000457,NaN,NaN
3,04.01.2016 01:00:00.000,120.370,120.464,120.009,120.028,6.674790e+06,-0.002854,NaN,NaN
4,04.01.2016 02:00:00.000,120.027,120.043,119.646,119.817,8.200750e+06,-0.001759,NaN,NaN
...,...,...,...,...,...,...,...,...,...
43643,30.12.2022 19:00:00.000,130.868,131.020,130.848,130.971,2.569386e+07,0.000787,131.97695,132.94732
43644,30.12.2022 20:00:00.000,130.969,131.291,130.969,131.269,9.933500e+06,0.002273,131.91840,132.88782
43645,30.12.2022 21:00:00.000,131.269,131.269,131.046,131.072,7.899270e+06,-0.001502,131.84970,132.82186
43646,01.01.2023 22:00:00.000,130.925,130.962,130.743,130.759,1.011000e+05,-0.002391,131.75955,132.74734
43647,01.01.2023 23:00:00.000,130.771,130.886,130.716,130.870,3.198000e+05,0.000849,131.67000,132.67574

In [101]:
def calculate_rsi(df, period):
    delta = df['Close'].diff(1)
    gain = (delta.where(delta > 0, 0)).fillna(0)
    loss = (-delta.where(delta < 0, 0)).fillna(0)
    avg_gain = gain.rolling(window=period).mean()
    avg_loss = loss.rolling(window=period).mean()
    rs = avg_gain / avg_loss
    df['RSI'] = 100 - (100 / (1 + rs))
    return df

calculate_rsi(data, period=14)
data

,Gmt time,Open,High,Low,Close,Volume,Log_Return,SMA_20,SMA_50,RSI
0,03.01.2016 22:00:00.000,120.188,120.319,120.183,120.283,1.766420e+06,NaN,NaN,NaN,NaN
1,03.01.2016 23:00:00.000,120.286,120.385,120.232,120.316,2.787850e+06,0.000274,NaN,NaN,NaN
2,04.01.2016 00:00:00.000,120.315,120.390,120.269,120.371,4.205490e+06,0.000457,NaN,NaN,NaN
3,04.01.2016 01:00:00.000,120.370,120.464,120.009,120.028,6.674790e+06,-0.002854,NaN,NaN,NaN
4,04.01.2016 02:00:00.000,120.027,120.043,119.646,119.817,8.200750e+06,-0.001759,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
43643,30.12.2022 19:00:00.000,130.868,131.020,130.848,130.971,2.569386e+07,0.000787,131.97695,132.94732,24.770642
43644,30.12.2022 20:00:00.000,130.969,131.291,130.969,131.269,9.933500e+06,0.002273,131.91840,132.88782,32.597823
43645,30.12.2022 21:00:00.000,131.269,131.269,131.046,131.072,7.899270e+06,-0.001502,131.84970,132.82186,33.811413
43646,01.01.2023 22:00:00.000,130.925,130.962,130.743,130.759,1.011000e+05,-0.002391,131.75955,132.74734,34.897638
43647,01.01.2023 23:00:00.000,130.771,130.886,130.716,130.870,3.198000e+05,0.000849,131.67000,132.67574,28.328710

In [102]:
def calculate_bollinger_bands(df, period=20):
    sma = df['Close'].rolling(window=period).mean()
    rolling_std = df['Close'].rolling(window=period).std()
    df['Upper_Bollinger_Band'] = sma + (rolling_std * 2)
    df['Lower_Bollinger_Band'] = sma - (rolling_std * 2)
    return df

calculate_bollinger_bands(data, period=20)
data

,Gmt time,Open,High,Low,Close,Volume,Log_Return,SMA_20,SMA_50,RSI,Upper_Bollinger_Band,Lower_Bollinger_Band
0,03.01.2016 22:00:00.000,120.188,120.319,120.183,120.283,1.766420e+06,NaN,NaN,NaN,NaN,NaN,NaN
1,03.01.2016 23:00:00.000,120.286,120.385,120.232,120.316,2.787850e+06,0.000274,NaN,NaN,NaN,NaN,NaN
2,04.01.2016 00:00:00.000,120.315,120.390,120.269,120.371,4.205490e+06,0.000457,NaN,NaN,NaN,NaN,NaN
3,04.01.2016 01:00:00.000,120.370,120.464,120.009,120.028,6.674790e+06,-0.002854,NaN,NaN,NaN,NaN,NaN
4,04.01.2016 02:00:00.000,120.027,120.043,119.646,119.817,8.200750e+06,-0.001759,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
43643,30.12.2022 19:00:00.000,130.868,131.020,130.848,130.971,2.569386e+07,0.000787,131.97695,132.94732,24.770642,133.082505,130.871395
43644,30.12.2022 20:00:00.000,130.969,131.291,130.969,131.269,9.933500e+06,0.002273,131.91840,132.88782,32.597823,133.044541,130.792259
43645,30.12.2022 21:00:00.000,131.269,131.269,131.046,131.072,7.899270e+06,-0.001502,131.84970,132.82186,33.811413,133.007516,130.691884
43646,01.01.2023 22:00:00.000,130.925,130.962,130.743,130.759,1.011000e+05,-0.002391,131.75955,132.74734,34.897638,132.963689,130.555411
43647,01.01.2023 23:00:00.000,130.771,130.886,130.716,130.870,3.198000e+05,0.000849,131.67000,132.67574,28.328710,132.858149,130.481851

In [103]:
def calculate_atr(df, period):
    high_low = df['High'] - df['Low']
    high_close = np.abs(df['High'] - df['Close'].shift(1))
    low_close = np.abs(df['Low'] - df['Close'].shift(1))
    ranges = pd.concat([high_low, high_close, low_close], axis=1)
    true_range = ranges.max(axis=1)
    df['ATR'] = true_range.rolling(window=period).mean()
    return df

calculate_atr(data, period=14)
data

,Gmt time,Open,High,Low,Close,Volume,Log_Return,SMA_20,SMA_50,RSI,Upper_Bollinger_Band,Lower_Bollinger_Band,ATR
0,03.01.2016 22:00:00.000,120.188,120.319,120.183,120.283,1.766420e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03.01.2016 23:00:00.000,120.286,120.385,120.232,120.316,2.787850e+06,0.000274,NaN,NaN,NaN,NaN,NaN,NaN
2,04.01.2016 00:00:00.000,120.315,120.390,120.269,120.371,4.205490e+06,0.000457,NaN,NaN,NaN,NaN,NaN,NaN
3,04.01.2016 01:00:00.000,120.370,120.464,120.009,120.028,6.674790e+06,-0.002854,NaN,NaN,NaN,NaN,NaN,NaN
4,04.01.2016 02:00:00.000,120.027,120.043,119.646,119.817,8.200750e+06,-0.001759,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43643,30.12.2022 19:00:00.000,130.868,131.020,130.848,130.971,2.569386e+07,0.000787,131.97695,132.94732,24.770642,133.082505,130.871395,0.384500
43644,30.12.2022 20:00:00.000,130.969,131.291,130.969,131.269,9.933500e+06,0.002273,131.91840,132.88782,32.597823,133.044541,130.792259,0.393000
43645,30.12.2022 21:00:00.000,131.269,131.269,131.046,131.072,7.899270e+06,-0.001502,131.84970,132.82186,33.811413,133.007516,130.691884,0.376071
43646,01.01.2023 22:00:00.000,130.925,130.962,130.743,130.759,1.011000e+05,-0.002391,131.75955,132.74734,34.897638,132.963689,130.555411,0.365429
43647,01.01.2023 23:00:00.000,130.771,130.886,130.716,130.870,3.198000e+05,0.000849,131.67000,132.67574,28.328710,132.858149,130.481851,0.335429

## Remove NaN values

In [104]:
def remove_nan_rows(df):
    return df.dropna(inplace=True)

remove_nan_rows(data)
data

,Gmt time,Open,High,Low,Close,Volume,Log_Return,SMA_20,SMA_50,RSI,Upper_Bollinger_Band,Lower_Bollinger_Band,ATR
49,05.01.2016 23:00:00.000,119.118,119.165,119.088,119.110,3.781590e+06,-0.000067,119.13685,119.31764,52.952953,119.500567,118.773133,0.183357
50,06.01.2016 00:00:00.000,119.109,119.161,118.993,119.041,6.187980e+06,-0.000579,119.11185,119.29280,46.207585,119.423628,118.800072,0.173571
51,06.01.2016 01:00:00.000,119.044,119.131,118.356,118.566,1.281879e+07,-0.003998,119.06910,119.25780,35.289634,119.432578,118.705622,0.209929
52,06.01.2016 02:00:00.000,118.565,118.666,118.407,118.491,1.102292e+07,-0.000633,119.02070,119.22020,34.119381,119.421457,118.619943,0.212429
53,06.01.2016 03:00:00.000,118.491,118.673,118.383,118.652,7.932700e+06,0.001358,118.98215,119.19268,31.018519,119.368020,118.596280,0.213000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43643,30.12.2022 19:00:00.000,130.868,131.020,130.848,130.971,2.569386e+07,0.000787,131.97695,132.94732,24.770642,133.082505,130.871395,0.384500
43644,30.12.2022 20:00:00.000,130.969,131.291,130.969,131.269,9.933500e+06,0.002273,131.91840,132.88782,32.597823,133.044541,130.792259,0.393000
43645,30.12.2022 21:00:00.000,131.269,131.269,131.046,131.072,7.899270e+06,-0.001502,131.84970,132.82186,33.811413,133.007516,130.691884,0.376071
43646,01.01.2023 22:00:00.000,130.925,130.962,130.743,130.759,1.011000e+05,-0.002391,131.75955,132.74734,34.897638,132.963689,130.555411,0.365429
43647,01.01.2023 23:00:00.000,130.771,130.886,130.716,130.870,3.198000e+05,0.000849,131.67000,132.67574,28.328710,132.858149,130.481851,0.335429

## Export the prepared dataset

In [105]:
data.to_csv(PREPARED_PATH, index=False)